.mine{
  display: flex;
flex-direction: row;
  justify-content: center;
  background-color: #7fb8cb;
}

.image{
  height: 50%;
  width: 50%;
}

.award{
 
  width: 25%;
 display: flex;
}

.nav.container{
  width:630px;
  
  font-weight: bolder;
  border:black;
}

a.nav-link{
  font-size: larger;
  color: #035a77;
}

nav.navbar{
  display: flex;
  align-items: center;
  background-color: #7fb8cb;
  width: 100%;
  
}

.outdoor{
  border: #116f91;
}

.main{
  background-color: #7fb8cb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  
  
}

.head{
  display:flex;
  justify-content: center;
  padding: 10px;
}

.p1{
  
  margin-left:30rem;
  width: 55%;
  display: flex;
  justify-content: center;
}

.elite{
  font-size: large;
  
}

h2{
margin-right: 5rem;
}

.sign{
  width: 250px;
  height: 250px;;
}

.welcome{
  display: flex;
  font-size: 102px;
  margin-left: 32rem;
  font-family:'Cedarville Cursive',cursive;
}

.main1{
  width:100%;
  background-color: #7fb8cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  
  
}

.comp{
  display: flex;
  text-align: center;
  width: 50%;
}

.head1{
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.pserv{
  padding:auto;
  display: flex;
  justify-content: center;
  
}

.eserv{
  width: 60%;
  display:flex;
  justify-content: center;
  text-align: center;
}

.we{
  display: flex;
  margin-left:1.5rem;
  justify-content:center;
  text-decoration: underline;
}

.we1{
  display: flex;
  margin-left:1.5rem;
  justify-content:center;
  text-decoration: underline;
}

.left{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:25rem;
  padding: 1rem;
  
  float: left;
}

.right{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-right:25rem;
  padding:1rem;
  
  float:right;
}

li{
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
}

.modality{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.forms{
  display: flex;
  flex-direction: column;
}

.compliment{
  display: flex;
  flex-direction: column;
  background-color:#7fb8cb;
  align-items: center;
}

.pcomp{
  display: flex;
  flex-direction: column;
}

.ecomp{
  display: flex;
  flex-direction: column;
  
  text-align: center;
}

.prod{
  padding: 2rem;
}

ol{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.head2{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.head3{
  display: flex;
  align-items: center;
  flex-direction: column;
}

a{
  font-size: 18px;
  color: black;
}

.testy{
  padding: 3rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
  background-color: #7fb8cb;
  height: 100vh;
  
}

.test{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6rem;
  
}

.contact{
  padding:2rem;
  background-color: #7fb8cb;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  
}

@media only screen and (max-width: 600px) {
  
 .mine{
    margin: 0;
  }  
  img{
    width: 100%;
  }
  nav.navbar{
   width: 100%;
   display: flex;
   align-items: center;
   
  }
  div.nav.container{
    display: flex;
    
   margin: .5rem;
   font-weight: bolder;
    
    
  }
  a.nav-link{
    align-items: center;
    font-size: 11px;
    color: #007297;
  }
  .main{
    background-color: #007297;
   margin: auto;
   
   
    
    width:100%;
    
    
  }
  .head{
    display:flex;
    justify-content: center;
    padding: 10px;
    height:50%;
    width: 100%;
  }
  
  .p1{
    width:100%;
    height:30%;
    margin:0;
    
   
   
    
    
  }
  
  .elite{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    
  }
  
  /* h2{
  
  } */
  .sign{
    width:50%;
    height: 50%;
  }
}