.mine{
  margin-left:15rem;
  display: flex;
  
}



.nav.container{
  width:620px;
  
  font-weight: bolder;
  
}

a.nav-link{
  font-size: larger;
  color: #007297;
}

nav.navbar{
  display: flex;
  align-items: center;
}

.outdoor{
  border: #116f91;
}

.main{
  background-color: #007297;
  display: flex;
  flex-direction: column;
  width:70%;
  margin-left:20rem;
  
}

.head{
  display:flex;
  justify-content: center;
  padding: 10px;
}

.p1{
  
  margin-left:22rem;
  width: 55%;
  display: flex;
  justify-content: center;
}

.elite{
  font-size: large;
  
}

h2{
margin-right: 5rem;
}
